
<div id="mainContent" data-ui-role="content">{{{html}}}</div>

<script defer src="/assets/site/js/commons.chunk.js" ></script>
<script defer src="/assets/site/js/index.js" ></script>
<script defer src="/assets/site/js/map.js" ></script>
